@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Questrial&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --primay: #FF5678; 
    --secondary: #35E6E9; 
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 64px;
}

a {
    text-decoration: none;
    display: block;
}

span {
    color: var(--primay);
}

section {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.texto {
    width: 603px;
    height: 520px;
    border: rgba(0, 0, 0, 15%) 1px solid;
    padding: 44px 55px;
    border-radius: 12px;
    overflow: hidden;
}

h2 {
    margin-bottom: 50px;
    font-size: 36px;
}

#button-cadastro {
    font-size: 24px;
    display: flex;
    padding: 15px;
    background: var(--secondary);
    color: azure;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#button-cadastro:hover {
    background: #1BD0D3;
}

#button-entidade {
    font-size: 24px;
    display: flex;
    padding: 15px;
    background: var(--primay);
    color: azure;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;   
}

#button-entidade:hover {
    background: #f14366;
}

img {
    width: 409px;
    height: 307px;
    margin: 20px;
}

.bloco1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

p {
    margin-bottom: 9px;
}

#registro {
    font-size: 18px;
    font-weight: 450;
    text-decoration: underline;
    color: black;
}

#registro:hover {
    color: rgb(65, 65, 65);
}

/*pagina 2*/

#icone-seta {
    width: 42px;
    height: 42px;
    margin: 0;
}
.titulo-seta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    width: 489px;
    height: 55px;
    border-radius: 12px;
    border: rgba(0, 0, 0, 15%) 1px solid;
    margin: 10px 0 30px 0;
}